<!DOCTYPE html>
<html>
    <head>
        <%- partial('partials/header') %>
    </head>
    <body>
        <%- body %>
        <footer class="footer">©Copyright 2023 EvanLuo42. All Rights Reserved.</footer>
    </body>
</html>