<!DOCTYPE html>
<html>
    <head>
        <%- partial('partials/header') %>
    </head>
    <body>
        <%- body %>
        <footer class="footer">Powered By <a href="https://hexo.io">Hexo</a> With Theme <a href="https://github.com/EvanLuo42/oliver">Oliver</a></footer>
        <footer class="footer"><%- theme.copyright %></footer>
    </body>
</html>