<!DOCTYPE html>
<html>
    <head>
        <%- partial('partials/header') %>
    </head>
    <body>
        <%- body %>
        <footer class="footer"><%= theme.copyright %></footer>
    </body>
</html>